.mainPanel{
    height: 100dvh;
    flex-grow: 1;
    width: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    position: relative;
    padding-bottom: 10px;
}
.maximize-panel-button{
    width: 50px !important;
    height: 50px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hide{
    height: 0 !important;
    overflow: hidden !important;
    transition: all 0.1s;
}
.mainPanel.extended{
    width: calc(100% - 60px)
}
.appHeader{
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 50px 1fr auto;
    align-items: center;
    gap: 10px;
    transition: all 0.1s;
    flex-shrink: 0;
}
.appHeader button {
    height: 50px;
    width: 50px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    flex-grow: 1;
    overflow: hidden;
}
.mainPanel.hide-nav .content{
    height: 100%;
    max-height: 100%;
}
.mainPanel.hide .content{
    max-height: 100%;
}
@media (orientation: portrait) {
    .mainPanel{
        width: 100vw;
        max-width: 100vw;
        height: auto;
        max-height: calc(100vh - 100vw - 10px);
        flex-grow: 1;
    }
    .mainPanel .content{
        width: 100vw;
        height: calc(100vh - 100vw - 60px);;
        flex-grow: 1;
    }
    .mainPanel.extended{
        height: calc(100% - 60px);
        width: 100%;
        max-height: calc(100% - 60px)
    }

}